<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8 " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>templates</title>
    <link rel="stylesheet" href="temp.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
  </head>
  <body>

    
    <header>
        
      <nav>
        <ul>

          <li><a href="../home.html">Home</a></li>
          <li><a href="../images/image.html">Images</a></li>
          <li><a href="#">Language</a></li>
          <li><a href="./temp.html">Template</a></li>
          <li><a href="../blog/index.html">Blog</a></li>
          <li><a href="../enterprise/index.html">Enterprise</a></li>
                    <li><a href="../about us/about.html">About</a></li>
          <li><a href="../help/help.html">Help</a></li> 
            <li ><a  href="../login/login.html">Login </a></li>
            <li ><a href="../sign up/sign up.html">Sign Up</a></li>
        
        </ul>
        
      </nav>
    </header>

   
    <br />
    <br />
    <br />
    

    
    <br /> 
    <br />
  <p> Browse by category to find your perfect visual</p>
    <div class ="one">

    <div class="card">
      <a href="./labels/index.html">
        <img
          src="ea12c1165f0f1fe9e2fa899d414c2570.jpg"
          alt="Upper Body"
      /></a>
      <h2>Labels</h2>
    </div>

    <div class="card">
        <a href="./calenders/index.html">
          <img
            src="800w-ZOF34E2dwPs.webp"
            alt="Upper Body"
        /></a>
        <h2>Calenders</h2>
      </div>

      <div class="card">
        <a href="./certificates/index.html">
          <img
            src="800w-cqZDXsvWv1c.webp"
            alt="Upper Body"
        /></a>
        <h2>Certificates</h2>
      </div>

     

      <div class="card">
        <a href="./youtube/index.html">
          <img
            src="Music-Youtube-Banner-Template.jpg"
            alt="Upper Body"
        /></a>
        <h2> Youtube </h2>
      </div>

      <div class="card">
        <a href="./flyers/index.html">
          <img
            src="Edison-Modern-Business-Corporate-Flyer-Template-2.webp"
            alt="Upper Body"
        /></a>
        <h2>Flyers </h2>
      </div>

      <div class="card">
        <a href="./cards/index.html">
          <img
            src="il_fullxfull.3079889683_e02g.avif"
            alt="Upper Body"
        /></a>
        <h2>Cards</h2>
      </div>

      <div class="card">
        <a href="./resume/index.html">
          <img
            src="1131w-mvZ-NsZhmNY.webp"
            alt="Upper Body"
        /></a>
        <h2>Resume </h2>
      </div>



      <div class="card">
        <a href="./threads/index.html">
          <img
            src="640w-wW8LqfVa8PU.webp"
            alt="Upper Body"
        /></a>
        <h2>Threads </h2>
      </div>

      <div class="card">
        <a href="./twiters/index.html">
          <img
            src="twitter-tweet-post-template-editable-free-vector.jpg"
            alt="Upper Body"
        /></a>
        <h2>Twitter</h2>
      </div>

      <div class="card">
        <a href="./logos/index.html">
          <img
            src="800w-TWIzZ-801WY.webp"
            alt="Upper Body"
        /></a>
        <h2>Logos  </h2>
      </div>

      <div class="card">
        <a href="./invitations/index.html">
          <img
            src="1600w-V05CDp5TyTY.webp"
            alt="Upper Body"
        /></a>
        <h2>Invitations </h2>
      </div>


      
      



    <p> Get as many images as you need—no more, no less.</p> 
      <footer>
        <div class="footer-container">
          <div class="social-media">
            <h3>Follow us on social media:</h3>
            <ul>
                
              <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
              <li><a href="#" target="_blank"><i class="ri-instagram-fill"></i></a></li>
              <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
              <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Important links:</h3>
            <ul>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </footer>
    
  </body>
</html>
