body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(123, 164, 176, 0.33);
    
}

header {
    background: #201c1c;
    color: #161515;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #eee7e7;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    
}
nav ul.right{
    margin-right: 0;
}
nav a:hover {
    color: #ccc;
    transform: scale(2.05);
    box-shadow: 10px 10px 20px rgba(11, 11, 11, 0.2);
  }

   
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 2em);
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }

  /* Blog Page Styles */
  
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .post {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 30%;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    margin-top: 0;
  }
  
  .post a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .post a:hover {
    color: #23527c;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
  }
  
  .footer-container {
    background: #201c1c;
    color: #161515;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
   .footer-container h3{
    color: #eee7e7;
  }
  .social-media {
    margin-right: 20px;
  }
  
  .social-media h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media a {
    color: #eee7e7;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: #eee7e7;
  }
  
  .footer-links {
    margin-left: 20px;
  }
  
  .footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #eee7e7;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #eee7e7;
  }
  
  